<nav class="pagination">
	{{#if prev}}
	<a class="newer-posts square" href="{{page_url prev}}"><span class="icon-angle-left" aria-hidden="true"></span><span class="screen-reader-text">{{t "Newer Posts"}}</span></a>
	{{/if}}
	<span class="page-number">{{t "Page {page} of {pages}" page=page pages=pages}}</span>
	{{#if next}}
	<a class="older-posts square" href="{{page_url next}}"><span class="screen-reader-text">{{t "Older Posts"}}</span><span class="icon-angle-right" aria-hidden="true"></span></a>
	{{/if}}
</nav>
