<div class="share-post">
	<span>{{t "Share"}}</span>
	<a class="square light" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
	<a class="square light" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
	<a class="square light" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&amp;title={{encode title}}&amp;source={{encode @site.title}}" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
</div><!-- .share-post -->